.header {
    height: 100px;
    background-color: #282c34;
    position: fixed;
    width: calc(100vw - (100vw - 100%));
    padding: 40px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.styleScope {
    display: flex;
}

.header img {
    width: 30px;
    height: 30px;
    position: fixed;
    cursor: pointer;
    left: 300px;
    margin: 5px 0;
}

.header h3 {
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.header h3 span {
    margin-left: 10px;
    color: #0772e3;
}


.header button {
    background-color: #0772e3;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    line-height: normal;
    font-size: 16px;
    padding: 6px 14px;
    width: 80px;
}

/*- Burger Menu -*/

.brg {
    width: 26px;
    height: 24px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 33px 0 33px 60px;
}

.brg:before {
    background-color: #DDDDDD;
    position: absolute;
    content: '';
    width: 26px;
    height: 4px;
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -10px;
    border-radius: 2px;
}

.brg:after {
    background-color: #DDDDDD;
    position: absolute;
    content: '';
    width: 26px;
    height: 4px;
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: 6px;
    border-radius: 2px;
}

.brg div {
    background-color: #DDDDDD;
    position: absolute;
    content: '';
    width: 26px;
    height: 4px;
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -2px;
    border-radius: 2px;
}

.brg:hover div {
    background-color: #0772e3;
}

.brg:hover::before {
    background-color: #0772e3;
}

.brg:hover::after {
    background-color: #0772e3;
}

