.blue {

}

.blue:focus {
    border: 2px solid hotpink;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column button {
    margin-bottom: 1rem;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column2 input {
}

.testSpanError {
    /*color: blue;*/
    background-color: yellow;
}