.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    width: 100%;
    text-align: center;
}

.container button {
    margin: 2rem 0;
}

.default {
    border: .5rem solid black;
    color: dimgray;
    padding: 20px 0;
}

.response {
    border: .5rem solid darkblue;
    color: blue;
    padding: 20px 0;
}

.requestError {
    border: .5rem solid darkred;
    color: red;
    padding: 20px 0;
}