.wrapper {

    position: fixed;
    left: 0;
    top: 0;
    background-color: #2F323A;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    color: #61dafb;
    overflow: auto;
}

.wrapper h1 {
    font-size: 164px;
    margin: 50px 0 0 0;

}

.wrapper h3 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 44px;

}

.wrapper img {
    width: 500px;
}

.wrapper a {

    margin-top: 100px;
}

.wrapper button {
    font-size: 16px;
    background-color: #61dafb;
    font-weight: 700;
    color: #282c34;
}